@inherits LayoutComponentBase

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			@Body
		</div>
	</div>
</div>

<style>
	body {
		background: url('images/background/background_5.png') no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background: linear-gradient(120deg, #f7f7f7, #00b4d8); /* light gray to teal gradient */
		font-family: 'Roboto', sans-serif; /* Optional: A modern font */
	}
</style>
