@page "/identity/account/login"
@layout AuthenticationLayout

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <EditForm Model="User" OnValidSubmit="HandleLogin">
                <DataAnnotationsValidator />
                <div class="card bg-dark" style="border-radius: 10px; color: white;">
                    <div class="card-header text-center fs-5 mb-2 mt-1">
                        <h3 class="text-teal">Login</h3>
                    </div>
                    <div class="text-center mb-3">
                        <img style="border-radius: 20px" src="../images/logos/logo_1.png" height="50" width="50" alt="logo" />
                    </div>
                    <div class="card-body">
                        <div class="form-group mt-3">
                            <label class="form-label">Email</label>
                            <InputText @bind-Value="User.Email" class="form-control" placeholder="Enter your email" />
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Password</label>
                            <InputText type="password" @bind-Value="User.Password" class="form-control" placeholder="Enter your password" />
                        </div>
                        <div class="form-group mt-3">
                            <button class="btn btn-teal w-100" type="submit">Login</button>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="text-center">
                            Don't have an account? |
                            <a class="btn-link text-teal" href="identity/account/register">Sign Up</a>
                        </div>
                        <ValidationSummary class="text-danger" />
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    Login User = new();

    async Task HandleLogin()
    {
        var result = await accountService.SignInAsync(User);
        if (result.Flag)
        {
            var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
            await customAuthStateProvider.UpdateAuthenticationState(new UserSession()
                {
                    Token = result.Token,
                    RefreshToken = result.RefreshToken
                });
            NavManager.NavigateTo("/", forceLoad: true);
        }
    }
}
