@page "/identity/account/register"
@layout AuthenticationLayout

<div class="container d-flex align-items-center min-vh-100 mt-5 mb-5">
    <div class="row justify-content-center w-100">
        <div class="col-lg-5 col-md-7 col-sm-8">
            <EditForm Model="User" OnValidSubmit="HandleRegistration">
                <DataAnnotationsValidator />
                <div class="card bg-dark shadow-lg" style="border-radius: 10px; color: white;">
                    <div class="card-header text-center fs-5 mt-2 mb-3">
                        <h3 class="text-teal">Register an Account</h3>
                    </div>
                    <div class="text-center mb-3">
                        <img style="border-radius: 20px" src="../images/logos/logo_1.png" height="50" width="50" alt="logo" />
                    </div>
                    <div class="card-body">
                        <div class="form-group mt-3">
                            <label class="form-label">Full Name</label>
                            <InputText @bind-Value="User.Fullname" class="form-control form-control-lg" placeholder="Enter your full name" />
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Email</label>
                            <InputText @bind-Value="User.Email" class="form-control form-control-lg" placeholder="Enter your email" />
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Password</label>
                            <InputText type="password" @bind-Value="User.Password" class="form-control form-control-lg" placeholder="Enter your password" />
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Confirm Password</label>
                            <InputText type="password" @bind-Value="User.ConfirmPassword" class="form-control form-control-lg" placeholder="Confirm your password" />
                        </div>
                        <div class="form-group mt-3">
                            <button class="btn btn-teal w-100 btn-lg" type="submit">Register</button>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="text-center">
                            Already have an account? |
                            <a class="btn-link text-teal" href="identity/account/login">Sign In</a>
                        </div>
                        <ValidationSummary class="text-danger" />
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    Register User = new();

    async Task HandleRegistration()
    {
        var result = await accountService.CreateAsync(User);
        if (result.Flag)
        {
            User = new(); // Clear the form on successful registration
        }
    }
}
